_site
.DS_Store
.jekyll
.jekyll-metadata
.jekyll-cache
.bundle
.sass-cache
Gemfile
Gemfile.lock
node_modules
package.json
/.vs/slnx.sqlite
/.vs/jesuscampos.github.io/v16/TestStore/0/testlog.manifest
/.vs/jesuscampos.github.io/v16/TestStore/0/000.testlog
